.linksContainer {
  max-width: 500px;
  margin: 30px 8px 0px 8px;

  .linksHeader {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      position: absolute;
      left: 20px;
    }

    h1 {
      font-size: 36px;
      margin-left: 10px;
      color: #fff;
    }
  }

  .linksItems {
    width: 460px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;

    .link {
      border: 0;
      width: 100%;
      min-width: 80%;
      border-radius: 4px;
      height: 46px;
      background-color: rgba(255, 255, 255, 0.15);
      margin-right: 14px;
      display: flex;
      align-items: center;
      padding: 0 14px;
      font-size: 18px;
      color: #fff;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      svg {
        margin-right: 14px;
      }
    }

    .linkDelete {
      background: transparent;
    }
  }
}
